.auth {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.form__control {
  width: 280px;
  padding: 25px;
  background: #fff;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.2);
}

.form__control .heading {
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  color: #7209b7;
  font-weight: 700;
}
.input {
  margin-bottom: 0.5rem;
}

.input label {
  font-size: 0.85rem;
}

.input input {
  margin-top: 0.4rem;
  padding: 8px;
  width: 100%;
  border: 1px solid lightgray;
  outline: none;
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
}

.input input:focus {
  border-color: #7209b7;
}

.action__btn {
  display: flex;
  justify-content: space-around;
}

.btn {
  margin-top: 1rem;
  padding: 7px 20px;
  border: none;
  outline: none;
  font-size: 0.9rem;
  cursor: pointer;
  letter-spacing: 1px;
}

.signup {
  color: #fff;
  background: #7209b7;
}

.login {
  border: 2px solid #7209b7;
  background: #fff;
  color: #7209b7;
  font-weight: 700;
}
